html,
body,
#__next {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 12px;
  border: 4px solid transparent;
  background-clip: content-box;
  min-width: 16px;
  min-height: 16px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

a.reset {
  text-decoration: none;
  color: inherit;
}


.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-16 {
  margin: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
